*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

header{  
    background-repeat: no-repeat;
    background-color: white;
    line-height:80%;
    padding: 0% 2%;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

header h1{
    display: inline-block;
    margin-left: 2%;
    margin-bottom: 3%;
    font-size: 3em;
    /* vertical-align: middle; */
    
}

.logo{
    vertical-align: middle;

}

.text-logo{
    height: 20%;
    margin: auto;
    vertical-align: middle;
}


main {
    width: 50%;
    margin: 2em auto;
    background-color: white;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .container{
    padding: 0px;
    margin-left: 10%;
    height: auto;

}

.marg{   
    padding: 10px 20px;
    border-bottom: 2px solid lightgrey;
}

.button1 {
    display: inline-block;
    padding: 1%;
    border: 1px solid;
    vertical-align: middle;
    border-radius: 0.3rem;
    color: white;
    background: dodgerblue;
    margin-left: 8%;
     
}

.button2 {
    display: inline-block;
    padding: 1%;
    vertical-align: middle;
    border-radius: 0.3rem;
    border: 1px solid lightgrey; 
    color: rgba(0, 0, 0, 0.5);
    
}


.pallini{
    list-style-type: none;
       
}


 h2{
    display: inline-block;
    vertical-align: middle;
}

 .check {
    display: inline-block;
    border: 1px solid green;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    margin-right: 1%;
    color: green;
   
  }

  .falso {
      color: red;
      border-color: red;
}


li {
    margin: 30px 0px 10px 0px;
    height: 30px;
    line-height: 30px;
}




/* inizioradius */
.radius{
    display: inline-block;
    padding: 0em 0.8em;
    border-radius: 2em;
    color: white;
    /* background-color: 
    #14AAF5; */
}

.blu{
    background-color: dodgerblue;
}

.viola{
    background-color: indigo;
}

.verde{
    background-color: forestgreen;
}
.orange{
    background-color: coral;
}
.rosa{
    background-color: violet;
}
.verdec{
    background-color: yellowgreen;
}