*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

header{
    padding: 15px 0% 0 5%;
    background-image: url(../img/Logo.png);
    background-repeat: no-repeat;
    background-color: white;
  
}

header h1{
    margin-left: 0%;
}


.container {
    width: 50%;
    height: 100%;
    margin: 5% auto;
}

.marg{
    margin-bottom: 1%;
    padding: 6px;
    border-bottom-style: solid;
    background-color: white;
    
}

.button1 {
    display: inline-block;
    color: white;
    background: dodgerblue;
    padding: 1%;
    border: 1px solid; 
}

.button2 {
    display: inline-block;
    padding: 1%;
    border: 1px solid; 
    color: rgba(0, 0, 0, 0.5);
}
 

section{
    margin-top: 1%;
    background-color: white;
}



ul{
    list-style-type: none;
   
    
    
}

li.robot:before {
  content: '\21E9';  	
   
}

 .check {
    padding-left: 2rem;
    background-image: url(../img/vero.jpg);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    vertical-align: middle;
  }

  .falso {
    padding-left: 2rem;
    background-image: url(../img/falso.jpg);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    vertical-align: middle;
  }


li {
    margin: 30px;
    height: 50px;
    line-height: 50px;
}


.robot{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}


/* inizioradius */
.radius{
    border-radius: 35%;
    padding: 5px 10px 5px 10px;
}

.blu{
    background-color: dodgerblue;
}

.viola{
    background-color: indigo;
}

.verde{
    background-color: forestgreen;
}
.orange{
    background-color: coral;
}
.rosa{
    background-color: violet;
}
.verdec{
    background-color: yellowgreen;
}