*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

header{
    padding: 15px 0% 0 5%;
    background-image: url(../img/Logo.png);
    background-repeat: no-repeat;
    background-color: white;
  
}

header h1{
    display: inline-block;
}


.container {
    width: 70%;
    height: 100%;
    margin: 5% auto;
    background-color: white;
    /* border-style: solid; */
}

.marg{
    margin-left: 0%;
    padding: 6px;
    border-bottom-style: solid;
    
}

a.bottone1 {
    margin-left: 30px;
    color: white; 
    text-decoration: none; /* eliminare la sottolineatura del testo */
    background: dodgerblue; 
    padding: 3px;
    border-radius: 10px;
}
  
.button{
    background: transparent;
    border-style: solid;

}
   

section{
    margin:0% 5%; 
}

ul{
    margin-bottom: 70px;
}

li {
    margin: 30px;
    height: 50px;
    line-height: 50px;
}

/* .img{
    list-style: url(../img/vero.jpg) inside;
    vertical-align: middle;
} */

.robot{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}


/* inizioradius */
.radius{
    border-radius: 30%;
    padding: 5px 10px 5px 10px;
}

.blu{
    background-color: dodgerblue;
}

.viola{
    background-color: indigo;
}

.verde{
    background-color: forestgreen;
}
.orange{
    background-color: coral;
}
.rosa{
    background-color: violet;
}
.verdec{
    background-color: yellowgreen;
}